*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #93C5FD;
    font-family: 'Courier New', Courier, monospace;
}

.main-div{
    width: 90%;
    height: 100vh;
    margin: auto;
    padding: 1rem;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
}

.child-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title{
    color: #ffffff;
    font-size: 3rem;
    text-align: center;
}
.addItems{
    /* background-color: #ffffff; */
    /* width: 40%; */
    padding: 1rem;
    display: flex;
    justify-content: center;
    border-radius: 2rem;
    /* border: 2px solid black; */
}

.form-control{
    width: 80%;
    padding: 1rem;
}

.add-btn{
    font-size: 1.5rem;
    padding: 1rem;
    text-align: center;
    margin-left: -5rem;
    cursor: pointer;
}

.showItems{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    border-radius: 2rem;
    /* background-color: #ffffff; */
    /* border: 2px solid black; */
}

.eachItem{
    background-color: #ffffff;
    width: 75%;
    padding: 0.2rem;
    display: flex;
    justify-content: center;
    margin: 1rem;
    margin-left: 10rem;
}

.eachItem h3{
    width: 80%;
    font-size: 1.5rem;
    padding: 1rem;
}

.delete-btn{
    font-size: 1.5rem;
    padding: 1rem;
    /* text-align: center; */
    /* margin-left: -2rem; */
    cursor: pointer;
}

@media only screen and (max-width : 992px){
  .eachItem{
    margin-left: 2rem;
  }
}